@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

body {
  background-image: url("https://i.imgur.com/ROTS79E.jpg");
  background-size: cover;
}

header {
    background-color: black;
    margin: 0 auto;
}

h1 {
  font-size: 70px;
  color: white;
  margin: 0 auto;
}

h2 {
  font-size: 40px;
}

td {
  font-size: 200%;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
  height: 950px;
  font-family: 'Gochi Hand', cursive;
  background-color: white;
  color: black;
}

.board {
  position: relative;
  height: 425px;
  margin: auto;
  margin-top: 150px;
}

.grid {
    position: relative;
    left: 150px;
    background-color: rgba(64,224,208,0.1);
    box-shadow: 0 0 15px #40E0D0;
}

.box {
    width: 120px;
    height: 120px;
    border: 5px solid rgba(64,224,208,1);
}

.selector {
  border: 4px solid rgba(64,224,208,1);
  width: 50px;
  height: 50px;
  background-color: yellow;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 0;
  border-radius: 50%;
}

.turn {
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.score {
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 40px;
  color: orange;
  margin-top: 0;
}

.score:hover {
    transition: all 1s;
    transform: rotate(360deg);
}

.restart {
    position: relative;
    border: 1px solid grey;
    background-color: red;
    color: white;
    font-size: 30px;
    max-width: 100px;
    line-height: 2px;
    margin-left: 300px;
    margin-top: 10px;
    border-radius: 10px;
}

.ghost {
  color: white;
}

#noughts {
  float: right;
}

#crosses {
  float: left;
}

#nought {
  color: hotpink;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

#cross {
  color: blue;
  font-size: 30px;
  padding: 10px;
}
